html {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: #0f0065;
    margin: 0 auto;
    text-align: center;
    background-image: url(../IMG/Background.jpg);
    background-size: cover;
    text-align: center;
    height: 900px;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main-page {
    display: inline-block;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100vw;
    height: 58px;
    font-family: 'Ubuntu';
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    list-style-type: none; 
} 

.left {
    justify-content:flex-start;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    line-height: 87%;
    font-weight: bold;
    align-items: center;
    letter-spacing: 1px;
    color: #fff;
    padding-left: 79px; 
}
.left:hover {
color: #3CB878;
transition: 0.5s;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   margin-right: 7px;
    list-style-type: none;
    width: 142px;
    height: 25px;
    color: #fff;
    
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    padding-right: 79px;

}

.right>div {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    list-style-type: none;
    color: #fff;
    width: 142px;
}
.calendar {
    background-image: url(../IMG/Calendar.svg);
    background-repeat: no-repeat;
}

.calendar:hover {
    background-image: url(../IMG/Calendar_green.svg);
    background-repeat: no-repeat;
    transition: 0.5s;
}

.letter {
    background-image: url(../IMG/Letter.svg);
    background-repeat: no-repeat;
}

.letter:hover {
    background-image: url(../IMG/Letter_green.svg);
    background-repeat: no-repeat;
    transition: 0.5s;
}

.compass {
    background-image: url(../IMG/Compass.svg);
    background-repeat: no-repeat;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.compass:hover {
    background-image: url(../IMG/Compass_green.svg);
    background-repeat: no-repeat;
    transition: 0.5s;
}

.submenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    flex-wrap: nowrap;
    font-size: 14px;
    color: #fff;
    list-style-type: none; 
}

.login:hover {
    color: #3CB878;
    }
.signup:hover {
    color: #3CB878;
}

.format {
        display: inline block;
        margin: 0 auto;
        margin-top: 115px;
        width: 444px;
        height: 584px;
        background-color: #fff;
}

.quadrat {
    display: block;
    position: relative;
    width: 18px;
    height: 18px;
    top: 29px;
    left: 0px;
    background-color: #3CB878;
}

.container {
        display: grid;
        grid-template-columns: [left] 1fr [center] 1fr [right];
        grid-template-rows: repeat(10, 1fr);
        width: 327px;
        height: 512px;
        margin: 0 auto;
        grid-column-gap: 10px;
        grid-row-gap: 11px;
        list-style-type: none; 
        font-family: 'Ubuntu';
        padding-top: 10px;
        }
        
.signup01 {
    display: inline;
    justify-self: start;
    align-self: end;
    font-size: 20px;
    color: #434343;
}
.login01 {
    display: inline;
    justify-self: end;
    align-self: end;
    font-size: 14px;
    color: #3CB878;
}

.login01:hover {
    text-decoration: underline;
    color: #01813F;;
}

.facebook {
    display: flex;
    width: 157px;
    height: 46px;
    align-items: center;
    justify-content:space-around;
    background-color: #022263;
    color:#fff;
    font-size: 16px;
    padding-right: 10px;
    border-radius:5px;
}

.facebook:hover {
    background-color: #0A162F;
    transition: 0.5s;
}

.line01 {
    display: block;
    position: relative;
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    opacity: 30%;
}

.google {
    display: flex;
    width: 157px;
    height: 46px;
    align-items: center;
    justify-content:space-around;
    background-color: #DF4A32;
    color:#fff;
    font-size: 16px;
    padding-right: 10px;
    border-radius:5px;
}

.google:hover {
    background-color: #AB1F09;
    transition: 0.5s;
}

.line02 {
    display: block;
    position: relative;
    width: 1px;
    height: 28px;
    left: -12px;
    background-color:#2B0D09;
    opacity: 10%;
}

.line03 {
    position:relative;
    width: 140px;
    height: 1px;
    top: 134px;
    left: 55px;
    background-color:#F2F2F2;
}

.line05 {
    position:relative;
    width: 140px;
    height: 1px;
    top: 134px;
    left: 241px;
    background-color:#F2F2F2;
}

.paragraph {
    position: relative;
    top: 0px;
    height: 5px;
    grid-column: left / right;
    justify-self:center;
    align-self: baseline;
    row-gap: 5px;
}

.name-input {
    display: block;
    position: relative;
    width: 322px;
    height: 44px;
    grid-column: left / right;
    color: #434343;
    padding-left:25px;
    background-color: #fafafa;
    box-shadow:0 0 7px rgba(0,0,0,0.3);
    border:0;
}

.name-input:focus {
    outline: 1px solid rgba(0,0,0,0.1);
    transition: 0.5s box-shadow;
  }

.ageement {
    grid-column: left / right;
    justify-self:center;
    align-self:center;
    color: #434343;
  }

.terms {
    display: inline;
    font-size: 16px;
    color: #3CB878;
}

.terms:hover {
    text-decoration: underline;
    color: #01813F;
    transition: 0.5s;
}

.account {
    display: flex;
    width: 322px;
    height: 44px;
    align-items: center;
    justify-content:space-around;
    background-color: #3CB878;
    color:#fff;
    grid-column: left / right;
    font-size: 16px;
    padding-right: 10px;
    border-radius:5px;
}

.account:hover  {
    background-color: #01813F;
    transition: 0.5s;
}  

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label::before {
    content: "";
    position: absolute;
    left: -3px;
    top: 1px;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: -2px;
    top: 1px;
    width: 19px;
    height: 12px;
    border-radius: -11px;
    border-left: 4px solid #3CB878;
    border-bottom: 4px solid #3CB878;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-61deg);
}

input[type="checkbox"]:checked:hover + label:after {
    border-left: 4px solid #01813F;
    border-bottom: 4px solid #01813F;
    transition: 0.5s;
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
